<%= render partial:"shared/header" %>

<div class='registration-header'>
  <p class='registration-header-text'>社員情報編集</p>
</div>

<%= render partial: "shared/employee_form", locals: { employee: @employee} %>