
/***** 社員に関するページのみ適用 *****/

.list-employee {
  background-color: rgb(250, 250, 250);
}

.nav-employee {
  color: rgb(60, 130, 200);
  font-size: 12px;
  font-weight: bold;
}

.employee {
  fill: rgb(60, 130, 200);
}