header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: rgb(249, 249, 249);
}

.header-logo {
  width: 50%;
  padding-left: 140px;
}

.logo-icon {
  width: 200px;
  margin-top: 20px;
  margin-left: 20px;
}

.nav {
  width: 50%;
  margin-right: 120px;
}

.category {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
  width: 110px;
  text-align: center;
  line-height: 80px;
  border-bottom: solid 2px rgba(255, 255, 255, 0);
}

.nav-list {
  display: block;
  text-decoration: none;
  color: rgb(80, 80, 80);
  font-size: 13px;
}

li:hover {
  border-bottom: solid 2px black;
}

.nav-list:hover {
  color: black;
}