
/***** 全体共通 *****/

.main-wrapper {
  width: calc(100vw - 300px);
}

/***** 全体共通 *****/


/*****************************************************/


/***** 社員・職人一覧ページ *****/
/***** 共通設定 *****/

.user-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  overflow: scroll;
  padding: 30px;
}

.user-card { /* 社員と職人の個別設定あり */
  width: calc((100vw - 300px) / 6);
  background-color: white;
  box-shadow: 0 1px 10px 0 rgba(189, 189, 189, 0.5);
  border: solid 1px rgb(200, 200, 200);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.user-face {
  padding-bottom: 20px;
  border-bottom: solid 1px black;
}

.face-image {
  border-radius: 50%;
}

.user-card-info { /* 職人の個別設定あり */
  margin: 20px auto;
  text-align: left;
}

/***** 共通設定 *****/
/***** 社員一覧個別設定 *****/

.employee-card {
  height: 400px;
}

/***** 社員一覧個別設定 *****/
/***** 職人一覧個別設定 *****/

.worker-card {
  height: 550px;
}
.user-card-info-title {
  font-weight: bold;
  margin-top: 15px;
}

/***** 職人一覧個別設定 *****/
/***** 社員・職人一覧ページ *****/


/*****************************************************/


/***** チャットルーム *****/
/***** 共通設定 *****/

.chat-room-title {
  width: 90%;
  line-height: 50px;
  padding: 10px 0 5px 30px;
  margin: 0 auto;
  border-bottom: solid 2px rgb(80, 80, 80);
  font-size: 25px;
}

.chat-room-messages {
  height: calc(100vh - 65px - 50px - 150px - 10px);
  overflow: scroll;
}

/***** 共通設定 *****/

.chat-message {
  width: 95%;
  display: flex;
  margin: 0 auto;
  padding-bottom: 30px;
}

.message-icon {
  width: 80px;
  height: 100%;
  margin: 0 0 0 20px;
}

.message-face-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid 1px rgb(80, 80, 80);
  margin: 10px 0 0 0;
}

.message-data-area {
  display: flex;
}


.message-name {
  font-size: 16px;
  font-weight: bold;
}

.message-date {
  margin: 3px 0 0 30px;
  font-size: 12px;
}

.message-text {
  padding: 0;
  font-size: 15px;
}

.message-image {
  display: block;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px 0 rgb(150, 150, 150);
  border-radius: 5px;
}

/* メッセージフォーム */

.message-form {
  display: block;
  resize: none;
  outline: none;
  width: 95%;
  margin: 0 auto;
  padding: 15px;
  background-color: white;
  box-shadow: 0 1px 10px 0 rgba(200, 200, 200, 0.5);
  border: solid 1px rgb(185, 185, 185);
  border-radius: 5px;
  font-size: 13px;
}

.file-clip-icon {
  display: block;
  width: 25px;
  position: absolute;
  right: 100px;
  bottom: 31px;
  cursor: pointer;
}

.message-send {
  display: block;
  width: 30px;
  position: absolute;
  right: 60px;
  bottom: 30px;
}

/* メッセージフォーム */
/***** チャットルーム *****/
/******************/
/* チャット新規作成 */

.chat-new-wrapper {
  margin-top: 300px;
  text-align: center;
}

.chat-new-field {
  margin-bottom: 20px;
}