
/***** 全体共通 *****/

.main-wrapper {
  width: calc(100vw - 300px);
}

/***** 全体共通 *****/


/*****************************************************/


/***** 社員・職人一覧ページ *****/
/***** 共通設定 *****/

.user-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  overflow: scroll;
  padding: 30px;
}

.user-card { /* 社員と職人の個別設定あり */
  width: calc((100vw - 300px) / 6);
  background-color: white;
  box-shadow: 0 1px 10px 0 rgba(189, 189, 189, 0.5);
  border: solid 1px rgb(200, 200, 200);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.user-face {
  padding-bottom: 20px;
  border-bottom: solid 1px black;
}

.face-image {
  border-radius: 50%;
}

.user-card-info { /* 職人の個別設定あり */
  margin: 20px auto;
  text-align: left;
}

/***** 共通設定 *****/
/***** 社員一覧個別設定 *****/

.employee-card {
  height: 400px;
}

/***** 社員一覧個別設定 *****/
/***** 職人一覧個別設定 *****/

.worker-card {
  height: 550px;
}
.user-card-info-title {
  font-weight: bold;
  margin-top: 15px;
}

/***** 職人一覧個別設定 *****/
/***** 社員・職人一覧ページ *****/


/*****************************************************/


/***** チャットルーム *****/
/***** 共通設定 *****/

.chat-room-title {
  width: 90%;
  line-height: 50px;
  padding: 0 0 5px 30px;
  margin: 0 auto;
  border-bottom: solid 1px rgb(80, 80, 80);
  font-size: 25px;
}

.chat-room-messages {
  height: calc(100vh - 65px - 50px - 150px - 10px);
  overflow: scroll;
}

/***** 共通設定 *****/

.chat-user-name {
  margin-top: -10px;
  color: rgb(80, 80, 80);
}

.chat-user-icon {
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(185, 185, 185);
  border-radius: 50%;
}

/* メッセージ共通 */
/* メッセージ右側表示 */

.chat-messages-right {
  width: 50%;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.chat-message-text-right {
  margin: 10px 20px 30px auto;
  padding: 5px 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 2px 0 rgb(150, 150, 150);
  border: solid 1px rgb(185, 185, 185);
  border-radius: 10px;
}

.chat-send-date-right {
  text-align: right;
  font-size: 8px;
}

.chat-user-info-right {
  width: 70px;
  text-align: center;
  margin: 10px 60px 0 0;
}

.message-image-right {
  display: block;
  margin: 0 150px 20px auto;
  box-shadow: 4px 4px 2px 0 rgb(150, 150, 150);
  border-radius: 10px;
}

/* メッセージ右側表示 */
/* メッセージ左側表示 */

.chat-messages-left {
  width: 50%;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.chat-message-text-left {
  margin: 10px auto 30px 20px;
  padding: 0 15px;
  background-color: white;
  box-shadow: 4px 4px 2px 0 rgb(150, 150, 150);
  border: solid 1px rgb(185, 185, 185);
  border-radius: 10px;
}

.chat-send-date-left {
  text-align: left;
  font-size: 8px;
}

.chat-user-info-left {
  width: 70px;
  text-align: center;
  margin: 10px 0 0 60px;
}

.message-image-left {
  display: block;
  margin: 0 auto 20px 150px;
  box-shadow: 4px 4px 2px 0 rgb(150, 150, 150);
  border-radius: 10px;
}

/* メッセージ左側表示 */

/* メッセージフォーム */

.message-form {
  display: block;
  resize: none;
  outline: none;
  width: 95%;
  margin: 0 auto;
  padding: 15px;
  background-color: white;
  box-shadow: 0 1px 10px 0 rgba(200, 200, 200, 0.5);
  border: solid 1px rgb(185, 185, 185);
  border-radius: 5px;
  font-size: 13px;
}

.file-clip-icon {
  display: block;
  width: 25px;
  position: absolute;
  right: 100px;
  bottom: 31px;
  cursor: pointer;
}

.message-send {
  display: block;
  width: 30px;
  position: absolute;
  right: 60px;
  bottom: 30px;
}

/* メッセージフォーム */
/***** チャットルーム *****/
/******************/
/* チャット新規作成 */

.chat-new-wrapper {
  margin-top: 300px;
  text-align: center;
}

.chat-new-field {
  margin-bottom: 20px;
}