<div class="chat-main">

<div class="chat-room-title">
  <p class="chat-title">チャットルーム１</p>
</div>

<div class="chat-room-messages">

  <div class="chat-messages">
    <div class="chat-message-text">
      テストテストテスト
    </div>
    <%= image_tag "employee.png", size: "50x50", class:"chat-user-icon" %>
  </div>
  <div class="chat-messages">
    <div class="chat-message-text">
      テストテストテスト
    </div>
    <%= image_tag "employee.png", size: "50x50", class:"chat-user-icon" %>
  </div>
  <div class="chat-messages">
    <div class="chat-message-text">
      テストテストテスト
    </div>
    <%= image_tag "employee.png", size: "50x50", class:"chat-user-icon" %>
  </div>

</div>

<div class="chat-message-form">
</div>

</div>