
<%# 個別CSSの読み込み %>
<%= stylesheet_link_tag "header_icons/chat", :media => "all" %>

<%# ヘッダー部分テンプレートの読み込み %>
<%= render partial:"shared/header" %>

<%# チャットグループ作成の部分テンプレートの読み込み %>
<%= render partial:"shared/form/chat/create" %>

<div class="wrapper">

  <%# サイドバー部分テンプレートの読み込み %>
  <div class="side-bar">
    <%= render partial:"shared/side_bar/chat" %>
  </div>

</div>