.employees-index-wrapper {
  color: rgb(80, 80, 80);
  width: calc(100% - 200px);
  margin: 0 auto;
  padding: 50px 30px;
}

.employees-sample {
  display: flex;
  text-align: center;
  margin-bottom: 60px;
  border-bottom: solid 2px rgb(80, 80, 80);
  font-weight: bold;
}

.employees-info-sample {
  width: calc(100% / 6);
  display: flex;
  justify-content: center;
}

.employees {
  display: flex;
  text-align: center;
  margin-bottom: 50px;
  border-bottom: solid 1px rgb(80, 80, 80);
}

.employees-info {
  width: calc(100% / 6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-btn {
  display: block;
  color: rgb(80, 80, 80);
  text-decoration: none;
  border: solid 1px rgb(80, 80, 80);
  border-radius: 5px;
  padding: 3px;
  margin-bottom: 5px;
  width: 40px;
}

.edit-btn:hover {
  font-weight: bold;
}