
<%# 個別CSSの読み込み %>
<%= stylesheet_link_tag "header_icons/worker", :media => "all" %>

<%# ヘッダー部分テンプレートの読み込み %>
<%= render partial:"shared/header" %>

<div class="wrapper">

  <%# サイドバー %>
  <div class="side-bar">
    <div class="search-area">
      <input type="text" class="search-form" placeholder="フリーワード検索">
    </div>
  </div>

  <%# メイン画面 %>
  <div class="main-wrapper user-wrapper">

    <%# 職人一覧の部分テンプレート呼び出し %>
    <%= render partial:"shared/worker_index", collection: @workers, as: "worker" %>

  </div>

</div>