
<%# 個別CSSの読み込み %>
<%= stylesheet_link_tag "header_icons/worker", :media => "all" %>

<%# ヘッダー部分テンプレートの読み込み %>
<%= render partial:"shared/header" %>

<div class="wrapper">

  <%# サイドバー %>
  <div class="side-bar">
    <%# サイドバー部分テンプレートの読み込み %>
    <%= render partial:"shared/side_bar/worker" %>
  </div>

  <%# メイン画面 %>
  <div class="main-wrapper --user">
    <% if @results.length != 0 %>
      <%= render partial:"shared/repeat/user/worker", collection: @results, as: "worker" %>
    <% else %>
      該当する職人が見つかりませんでした。
    <% end %>
  </div>

</div>