.registration-header {
  margin-top: 20px;
}

.registration-header-text {
  text-align: center;
  color: rgb(80, 80, 80);
  font-size: 25px;
}

.employee-new-wrapper {
  color: rgb(80, 80, 80);
  width: 600px;
  height: 650px;
  margin: 10px auto;
  padding: 40px 100px;
  background-color: white;
  box-shadow: 0 1px 10px 0 rgba(189, 189, 189, 0.5);
  border-radius: 5px;
}

.employee-new-field, .employee-new-actions {
  text-align: center;
  font-size: 20px;
}

.label-name {
  font-size: 15px;
  margin-top: 10px;
}

.input-field {
  width: 350px;
  height: 40px;
  margin: -10px 0 15px;
}

.employee-new-actions {
  margin-top: 20px;
}