.worker-new-wrapper {
  color: rgb(80, 80, 80);
  background-color: white;
  box-shadow: 0 1px 10px 0 rgba(189, 189, 189, 0.5);
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 30px;
}

.worker-info {
  display: flex;
  justify-content: space-between;
}

.main-info, .sub-info-left, .sub-info-right {
  width: 33%;
}

.info-title {
  margin-top: 20px;
  margin-left: 50px;
  font-weight: bold;
}

.worker-new-field {
  margin-top: 30px;
  text-align: right;
}

.worker-new-input {
  width: 250px;
  height: 30px;
  margin-right: 30px;
}

.worker-new-actions {
  text-align: center;
  margin-top: 80px;
}