/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_directory .
 *= require_self
 */



// リセットCSS,基本設定
body {
  color: #333;
  background-color: rgb(249, 249, 249);
  margin: 0 auto;
  font: {
    size: 12px;
    family: "ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro";
  }
}

h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
  list-style: none
}

// ボックスサイズ設定
* {
  box-sizing: border-box;
}

// a要素のアンダーバーとフォントカラーの設定
a {
  text-decoration: none;
  color: rgb(80, 80, 80);
}

// エラー表示によるレイアウト崩れの防止
.field_with_errors {
  display: contents;
}

// サイドバーとメイン画面の振り分け
.wrapper {
  display: flex;
  height: calc(100vh - 50px);
}

// 非表示設定
.hidden {
  display: none;
}

// 背景動画の設定
.session-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
  filter: grayscale(60%);
}

.signup-video {
  width: 100vw;
  height: calc(100vh - 50px);
  object-fit: cover;
  z-index: 1;
  filter: opacity(80%) grayscale(80%);
}

.chat-video {
  width: calc(100vw - 250px);
  height: calc(100vh - 50px);
  object-fit: cover;
  z-index: 1;
  filter: opacity(90%) blur(2px);
}

// モーダルウィンドウの作成、登録ボタン
.submit-btn {
  width: 70px;
  height: 30px;
  margin: 0 auto;
  display: block;
  background-color: white;
  box-shadow: 0 2px 0 0 rgba(40, 40, 40, 0.5);
  border: solid 1px rgb(80, 80, 80);
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  &:active{
    box-shadow: none;
    position: relative;
    top: 2px;
  }
}

// ページ遷移ボタン
.page-nav {
  display: flex;
  align-items: center;
  width: 100%;
  line-height: 30px;
  margin-top: 20px;
  font-size: 13px;
  font-weight: bold;
  .nav-child {
    &.--left {
      width: 45%;
      padding-left: 30px;
      p {
        display: inline;
        cursor: pointer;
      }
    }
    &.--center {
      width: 10%;
      text-align: center;
    }
    &.--right {
      width: 45%;
      text-align: right;
      padding-right: 30px;
      p {
        display: inline;
        cursor: pointer;
      }
    }
  } 
}

// サイドバーの作成、登録ボタン
.to-create-btn {
  width: 100px;
  line-height: 30px;
  margin: 0 auto;
  padding: 0;
  font-size: 13px;
  color: white;
  box-shadow: 0 2px 0 0 rgba(50, 50, 50, 1);
  text-shadow: 0 0 5px rgb(80, 80, 80);
  border-radius: 8px;
  cursor: pointer;
  &.--customer {
    background-color: rgb(200, 230, 150);
  }
  &.--chat {
    background-color: rgb(65, 185, 35);
  }
  &:active {
    box-shadow: none;
    position: relative;
    top: 2px;
  }
}

// フェードイン表示
.fadein {
  animation-name: fadein;
  animation-duration: 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// ふわっと表示
.fullfy {
  animation-name: fullfy;
  animation-duration: 0.7s;
}

@keyframes fullfy {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}