header {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 1px 5px 0 rgba(200, 200, 200, 0.5);
  position: relative;
  z-index: 9;
  // ヘッダー左側
  .header-logo {
    width: 40%;
    .logo-icon {
      width: 170px;
      margin-left: 30px;
    }
  }
  // ヘッダー右側
  .nav {
    width: 60%;
    .category {
      display: flex;
      justify-content: flex-end;
      .category-list {
        width: 170px;
        line-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: solid 1px rgba(255, 255, 255, 0);
        cursor: pointer;
        position: relative;
        &:hover {
          border-bottom: solid 1px rgb(80, 80, 80);
          transition: 0.3s;
        }
        .header-face-image {
          margin-right: 8px;
          border-radius: 50%;
        }
      }
    }
  }
}

// category-listの入れ子に含めると個別CSSが適用できないため独立させる
.nav-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(80, 80, 80);
  .tag-icon {
    margin-right: 8px;
    fill: rgb(80, 80, 80);
  }
}

// ユーザー名部分のプルダウン
.category-list-pulldown {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50px;
  .category-list-pulldown-child {
    width: 100%;
    height: 0;
    display: block;
    overflow: hidden;
    background-color: rgba(50, 50, 50, 0.5);
    .user-list-child {
      width: 100%;
      height: 100%;
      display: block;
      color: rgb(243, 243, 243);
    }
    &:hover {
      background-color: rgba(50, 50, 50, 0.7);
    }
  }
}

// プルダウン表示
.category-list:hover >
.category-list-pulldown >
.category-list-pulldown-child {
  height: 50px;
  overflow: visible;
  transition: 0.3s;
}
