header {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 1px 5px 0 rgba(200, 200, 200, 0.5);
  position: relative;
  z-index: 9;
}

.header-logo {
  width: 40%;
}

.logo-icon {
  width: 170px;
  margin-left: 30px;
}

.nav {
  width: 60%;
  height: 50px;
}

.category {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style: none;
  width: 100%;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
}

.category-list {
  border-bottom: solid 1px rgba(255, 255, 255, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

/*********************************/
/*********************************/

/******* ナビバーのアイコン *******/
.tag-icon {
  margin-right: 8px;
  fill: rgb(80, 80, 80);
}

/*********************************/
/*********************************/

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: rgb(80, 80, 80);
}

.category-list:hover {
  border-bottom: solid 1px rgb(80, 80, 80);
  transition: 0.3s;
}

.header-face-image {
  border-radius: 50%;
  margin-right: 5px;
}

/***** ユーザー名部分のプルダウン *****/

.category-list-pulldown {
  position: absolute;
  top: 50px;
  width: 100%;
}

.category-list-pulldown-child {
  display: block;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  height: 0;
  background-color: rgba(50, 50, 50, 0.5);
  color: black;
}

.category-list:hover >.category-list-pulldown > .category-list-pulldown-child {
  overflow: visible;
  opacity: 1;
  transition: 0.3s;
  height: 50px;
}

.category-list-pulldown-child:hover {
  background-color: rgba(50, 50, 50, 0.7);
}

.user-list-child {
  display: block;
  width: 100%;
  height: 100%;
  color: rgb(243, 243, 243);
  text-decoration: none;
}