
/**************** 全体共通 ****************/

.main-wrapper {
  width: calc(100vw - 250px);
  // 社員・職人一覧ページ個別設定
  &.--user {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    overflow: scroll;
    padding: 30px;
  }
  &.--customer {
    display: flex;
    justify-content: space-evenly;
  }
}

// 編集ボタン
.edit-btn {
  width: 18px;
  cursor: pointer;
  position: absolute;
  &.--user {
    top: 115px;
    right: 20px;
  }
  &.--customer {
    bottom: 10px;
    right: 20px;
  }
}


/************ 社員・職人一覧ページ ************/

// ユーザー別紹介カード
.user-card {
  width: 280px;
  background-color: white;
  box-shadow: 0 1px 10px 0 rgba(189, 189, 189, 0.5);
  border: solid 1px rgb(200, 200, 200);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  position: relative;
  // 職人カード個別設定
    &.worker-card {
    height: 460px;
  }

  // 顔写真エリア
  .user-card--face {
    padding: 15px 0;
    border-bottom: solid 1px black;
    text-align: center;
    // 顔写真
    .face-image {
      border-radius: 50%;
    }
  }
  // ユーザー情報
  .user-card--info {
    width: 100%;
    padding: 10px 0;
    // 情報別ブロック
    .user-card--info--child {
      width: 100%;
      margin: 20px auto;
      display: flex;
      // タグ
      .user-card--info--child--tag {
        width: 30%;
        padding-left: 10px;
        font-weight: bold;
      }
      // 内容
      .user-card--info--child--value {
        width: 70%;
      }
    }
  }
}

/*************** 顧客詳細ページ **************/

// 各ウィンドウ振り分け
.customer-wrapper {
  &.--left {
    width: 77%;
    .--left--bottom {
      display: flex;
      justify-content: space-between;
      .--bottom {
        width: 49%;
      }
    }
  }
  &.--right {
    width: 17%;
  }
}

// 各ウィンドウの構成
.customer-info-wrapper {
  width: 100%;
  margin: 30px auto 0;
  padding-bottom: 40px;
  background-color: white;
  box-shadow: 0 1px 10px 0 rgba(189, 189, 189, 0.5);
  border: solid 1px rgb(200, 200, 200);
  border-radius: 10px;
  position: relative;
  &.--left--bottom {
    height: 419px;
  }
  &.--right {
    height: 93%;
  }
  // ヘッダーカラー
  .customer-info-wrapper--header {
    height: 10px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-color: rgb(200, 230, 150);
  }
  // タイトル
  .customer-info-wrapper--title {
    width: 70%;
    height: 30px;
    margin: 0 auto 20px;
    padding: 20px 0;
    text-align: center;
    font: {
      size: 14px;
      weight: bold;
    }
  }
  // コメントフォーム
  .customer-info-wrapper--form {
    position: relative;
    // 入力フォーム
    .comment-form {
      width: 92%;
      height: 100px;
      display: block;
      resize: none;
      outline: none;
      margin: 0 auto;
      padding: 10px 15px;
      box-shadow: 0 1px 5px 0 rgba(200, 200, 200, 0.5) inset;
      border: solid 1px rgb(185, 185, 185);
      border-radius: 5px;
      font-size: 13px;
    }
    // 送信ボタン
    .comment-send {
      display: block;
      width: 25px;
      position: absolute;
      right: 14px;
      bottom: 1px;
    }
  }
  // ステータスバー
  .customer-info-wrapper--status--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 40px 0;
    .--status--bar {
      width: 80px;
      height: 4px;
    }
    // 1番目のbarのみ非表示にする
    #bar-1 {
      display: none;
    }
    .--status--box {
      width: 55px;
      line-height: 55px;
      border-radius: 50%;
      text-align: center;
      font-size: 11px;
      color: white;
    }
  }
}

// 各ウィンドウ内の顧客情報
.customer-info-wrapper--detail {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0 30px;
  .customer-info-wrapper--detail--area {
    &.--half {
      width: 48%;
    }
    &.--max {
      width: 96%;
    }
    .customer-info-wrapper--detail--child {
      display: flex;
      width: 100%;
      border: {
        top: solid 1px rgb(80, 80, 80);
        left: solid 1px rgb(80, 80, 80);
        right: solid 1px rgb(80, 80, 80);
      }
      &.--child--bottom {
        border-bottom: solid 1px rgb(80, 80, 80);
      }
      .detail--child {
        height: 100%;
        padding: 10px 20px;
        &.--tag {
          width: 20%;
          background-color: rgb(220, 220, 220);
          border-right: solid 1px rgb(80, 80, 80);
        }
        &.--value {
          width: 80%;
        }
      }
    }
    // 現調、工事情報が未登録の場合に表示する登録ボタン
    .customer-info-wrapper--detail--create {
      width: 150px;
      margin: 10px auto 0;
      padding: 10px 5px;
      text-align: center;
      background-color: white;
      box-shadow: 0 2px 0 0 rgba(40, 40, 40, 0.5);
      border: solid 1px rgb(80, 80, 80);
      border-radius: 5px;
      cursor: pointer;
      outline: none;
      &:active {
        box-shadow: none;
        position: relative;
        top: 2px;
      }
    }
  }
}

// コメント一覧
.customer-info-wrapper--comment {
  height: calc(100% - 10px - 30px - 30px - 30px - 80px);
  margin: 30px 0;
  overflow: scroll;
  // 各コメント
  .comment-area {
    margin-top: 30px 0;
    // 上段／名前と投稿日
    .comment-top {
      width: 85%;
      margin: 0 auto 5px;
      display: flex;
      .comment {
        &.--user {
          font-size: 13px;
          margin-right: 10px;
        }
        &.--create {
          font-size: 10px;
        }
      }
    }
    // 下段／投稿内容
    .comment-bottom {
      width: 85%;
      margin: 0 auto 30px;
    }
  }
}

// ステータスカラー変更用の設定(JavaScriptで使用)
.before-color {
  background-color: rgb(240, 240, 240);
}
.after-color {
  background-color: rgb(255, 170, 170);
  text-shadow: 0 0 5px rgb(80, 80, 80);
}


/**************** チャットルーム ***************/

// チャットルームタイトル
.chat-room-title {
  width: 90%;
  line-height: 50px;
  padding: 10px 0 5px 30px;
  margin: 0 auto;
  border-bottom: solid 2px rgb(80, 80, 80);
  font-size: 20px;
  .edit-icon {
    width: 18px;
    margin-left: 13px;
    vertical-align: middle;
    cursor: pointer;
  }
}

// メッセージ一覧表示
.chat-room-messages {
  height: calc(100vh - 65px - 50px - 150px - 10px);
  overflow: scroll;
  // 各メッセージ
  .chat-message {
    width: 95%;
    display: flex;
    margin: 15px auto 0;
    padding-bottom: 30px;
    // 投稿者の顔写真
    .message-icon {
      width: 80px;
      height: 100%;
      margin: 0 0 0 20px;
      .message-face-image {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        margin: 10px 0 0 0;
      }
    }
    // 投稿詳細
    .message-area {
      // 投稿者と投稿時間
      .message-data-area {
        display: flex;
        .message-name {
          font-size: 16px;
          font-weight: bold;
        }
        .message-date {
          margin: 3px 0 0 30px;
          font-size: 12px;
        }
      }
      // 投稿テキストと投稿画像
      .message-text-area {
        font-size: 14px;
        .message-text {
          padding: 0;
        }
        .message-image {
          display: block;
          margin-bottom: 20px;
          box-shadow: 2px 2px 2px 0 rgb(150, 150, 150);
          border-radius: 5px;
        }
      }
    }
  }
}

// メッセージフォーム
.chat-message-form {
  position: relative;
  .message-form {
    width: 95%;
    margin: 0 auto;
    padding: 15px;
    display: block;
    resize: none;
    outline: none;
    background-color: white;
    box-shadow: 0 0 5px 3px rgba(200, 200, 200, 0.5);
    border: solid 1px rgb(185, 185, 185);
    border-radius: 5px;
    font-size: 13px;
  }
  .file-clip-icon {
    width: 25px;
    display: block;
    position: absolute;
    right: 90px;
    bottom: 10px;
    cursor: pointer;
  }
  .message-send {
    width: 30px;
    display: block;
    position: absolute;
    right: 50px;
    bottom: 10px;
  }
}