
/***** 全体共通 *****/

.main-wrapper {
  width: calc(100vw - 250px);
}


/*****************************************************/
/***** 社員・職人一覧ページ *****/

.user-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  overflow: scroll;
  padding: 30px;
}

/* 社員と職人の個別設定あり */
.user-card {
  width: 280px;
  background-color: white;
  box-shadow: 0 1px 10px 0 rgba(189, 189, 189, 0.5);
  border: solid 1px rgb(200, 200, 200);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  position: relative;
}

/* 社員カード個別設定 */
.employee-card {
  height: 380px;
}

/* 職人カード個別設定 */
.worker-card {
  height: 440px;
}

.user-edit-btn {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 120px;
  right: 25px;
}

.user-card--face {
  padding: 15px 0;
  border-bottom: solid 1px black;
  text-align: center;
}

.face-image {
  border-radius: 50%;
}

.user-card--info {
  width: 100%;
  padding: 10px 0;
}

.user-card--info--child {
  width: 100%;
  margin: 20px auto;
  display: flex;
}

.user-card--info--child--tag {
  width: 30%;
  padding-left: 10px;
  font-weight: bold;
}

.user-card--info--child--value {
  width: 70%;
}


/*****************************************************/
/***** チャットルーム *****/
/***** 共通設定 *****/

.chat-room-title {
  width: 90%;
  line-height: 50px;
  padding: 10px 0 5px 30px;
  margin: 0 auto;
  border-bottom: solid 2px rgb(80, 80, 80);
  font-size: 20px;
}

.edit-icon {
  width: 15px;
  margin-left: 3px;
  cursor: pointer;
}

.chat-room-messages {
  height: calc(100vh - 65px - 50px - 150px - 10px);
  overflow: scroll;
}

/***** 共通設定 *****/

.chat-message {
  width: 95%;
  display: flex;
  margin: 0 auto;
  padding-bottom: 30px;
}

.message-icon {
  width: 80px;
  height: 100%;
  margin: 0 0 0 20px;
}

.message-face-image {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin: 10px 0 0 0;
}

.message-data-area {
  display: flex;
}


.message-name {
  font-size: 16px;
  font-weight: bold;
}

.message-date {
  margin: 3px 0 0 30px;
  font-size: 12px;
}

.message-text-area {
  font-size: 14px;
}

.message-text {
  padding: 0;
}

.message-image {
  display: block;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px 0 rgb(150, 150, 150);
  border-radius: 5px;
}

/* メッセージフォーム */

.message-form {
  display: block;
  resize: none;
  outline: none;
  width: 95%;
  margin: 0 auto;
  padding: 15px;
  background-color: white;
  box-shadow: 0 1px 10px 0 rgba(200, 200, 200, 0.5);
  border: solid 1px rgb(185, 185, 185);
  border-radius: 5px;
  font-size: 13px;
}

.file-clip-icon {
  display: block;
  width: 25px;
  position: absolute;
  right: 100px;
  bottom: 31px;
  cursor: pointer;
}

.message-send {
  display: block;
  width: 30px;
  position: absolute;
  right: 60px;
  bottom: 30px;
}

/***** メッセージフォーム *****/
/******* チャットルーム *******/

/************************/

/***** チャット新規作成 *****/

.chat-new-wrapper {
  margin-top: 300px;
  text-align: center;
}

.chat-new-field {
  margin-bottom: 20px;
}

/***** チャット新規作成 *****/

/************************/

/***** 顧客詳細ページ *****/

.basic-info-wrapper {
  background-color: white;
  box-shadow: 0 1px 10px 0 rgba(189, 189, 189, 0.5);
  border: solid 1px rgb(200, 200, 200);
  border-radius: 10px;
  width: 95%;
  height: 300px;
  margin: 30px auto 0;
}

.basic-info-wrapper--title {
  background-color: rgb(110, 110, 110);
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 22px;
  line-height: 22px;
  padding-left: 30px;
}

.basic-info-wrapper--detail {
  display: flex;
  align-items: center;
  height: calc(100% - 30px);
}

.basic-info-wrapper--detail--left, .basic-info-wrapper--detail--center, .basic-info-wrapper--detail--right {
  width: calc(100% / 3);
  padding-left: 100px;
}

.basic-info-wrapper--detail--left {
  border-right: solid 1px rgb(80, 80, 80);
}

.basic-info-wrapper--detail--center {
  border-right: solid 1px rgb(80, 80, 80);
}

.basic-info-wrapper--detail--left > .basic-info-wrapper--detail--child, .basic-info-wrapper--detail--center > .basic-info-wrapper--detail--child {
  margin: 13px 0;
}

/***** 顧客詳細ページ *****/