.modal-window {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-window--card {
  position: absolute;
  top: 12%;
  right: 0;
  left: 0;
  width: 500px;
  padding-bottom: 15px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.modal-window--card--header {
  height: 10px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 10px 10px 0 0;
  background-color: rgb(60, 130, 200);
}

.close-icon {
  cursor: pointer;
  position: absolute;
  top: 22px;
  right: 15px;
  fill: rgb(80, 80, 80);
}

.modal-window--card--title {
  width: 70%;
  height: 50px;
  margin: 0 auto 40px;
  border-bottom: solid 1px rgb(80, 80, 80);
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.modal-window--card--info {
  width: 75%;
  margin: 0 auto;
  font-size: 13px;
}

.modal-window--card--info--child {
  display: flex;
  height: 30px;
  margin-bottom: 25px;
}

.modal-window--card--info--child--bottom {
  margin-bottom: 45px;
}

.modal-window--card--info--child--tag {
  width: 35%;
  line-height: 30px;
}

.modal-window--card--info--child--value {
  width: 65%;
  margin: auto;
  padding: 7px 12px;
  border: solid 1px rgb(80, 80, 80);
  border-radius: 5px;
  outline: none;
}

.image-select {
  padding: 0;
  height: 30px;
  border: none;
  outline: none;
}

.modal-window--card--info--child--checkbox, .modal-window--card--info--child--btn {
  width: 50%;
}

.modal-window--card--info--child--checkbox {
  margin: 0 auto;
  padding-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-window--card--info--child--btn {
  padding-right: 30px;
}

.admin-check-label, .admin-check-box, .modal-create-btn {
  display: block;
}

.modal-create-btn {
  width: 70px;
  height: 30px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 0 0 rgba(40, 40, 40, 0.5);
  border: solid 1px rgb(80, 80, 80);
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.modal-create-btn:active{
  box-shadow: none;
  position: relative;
  top: 2px;
}