
.user-sign--card--logo {
  text-align: center;
  margin: 10px 0;
}

.session-logo-icon {
  width: 200px;
}

.to-login {
  display: block;
  margin: 40px 0 20px;
  font-size: 13px;
  text-align: center;
}

.to-login:hover {
  color: black;
  font-weight: bold;
}