/******* 共通 *******/

.side-bar {
  width: 250px;
  padding: 40px 0;
  background-color: rgb(110, 110, 110);
}

.form-open-btn:active{
  box-shadow: none;
  position: relative;
  top: 2px;
}

.search-area {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.search-form {
  outline: none;
  width: 80%;
  height: 27px;
  padding: 10px;
}


/**** チャットルーム ****/

.create-btn-area {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  text-align: center;
}

.to-create-btn {
  width: 100px;
  line-height: 30px;
  margin: 0 auto;
  padding: 0;
  font-size: 13px;
  color: white;
  background-color: rgb(65, 185, 35);
  box-shadow: 0 2px 0 0 rgba(50, 50, 50, 1);
  border-radius: 8px;
  cursor: pointer;
}

.to-create-btn:active{
  box-shadow: none;
  position: relative;
  top: 2px;
}

.chat-room-area {
  overflow: scroll;
}

.chat-room-header {
  text-align: center;
  color: rgb(249, 249, 249);
}

.chat-room-index {
  text-align: center;
  height: 35px;
  line-height: 35px;
  font-size: 13px;
}

.chat-room-name {
  text-decoration: none;
  display: block;
  color: rgb(249, 249, 249);
}

.chat-room-name:hover {
  background-color: rgb(110, 110, 110);
  transition: 0.2s;
}

/**** チャットルーム ****/