/******* 共通 *******/

.side-bar {
  width: 250px;
  padding: 40px 0;
  background-color: rgb(110, 110, 110);
}

.search-title {
  margin: 20px 0;
  font-size: 13px;
  text-align: center;
  color: whitesmoke;
}

.search-area {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  .search-select {
    width: 90%;
    height: 25px;
    margin: 0 auto 20px;
    display: flex;
    .--form {
      width: 100%;
      padding: 0 10px;
      outline: none;
    }
    .--tag {
      width: 25%;
      line-height: 25px;
      text-align: left;
      color: whitesmoke;
    }
    .--value {
      width: 75%;
      outline: none;
      cursor: pointer;
    }
  }
  .search-form {
    width: 80%;
    height: 27px;
    padding: 10px;
    outline: none;
  }
}



/**** チャットルーム ****/

.create-btn-area {
  width: 100%;
  height: 50px;
  text-align: center;
}

.chat-room-header {
  text-align: center;
  line-height: 40px;
  color: rgb(249, 249, 249);
}

.chat-room-area {
  overflow: scroll;
  .chat-room-index {
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    .chat-room-name {
      text-decoration: none;
      display: block;
      color: rgb(249, 249, 249);
      &:hover {
        background-color: rgb(151, 151, 151);
        transition: 0.2s;
      }
    }
  }
}