
/***** 共通設定 *****/

.user-sign {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.user-sign--card {
  position: absolute;
  top: 14%;
  right: 0;
  left: 0;
  width: 500px;
  padding-bottom: 15px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 4px 1px rgba(40, 40, 40, 0.5);
  border: solid 1px rgb(230, 230, 230);
  border-radius: 10px;
}

.user-sign--card--header {
  height: 10px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 10px 10px 0 0;
}

/***** 閉じるアイコン *****/
.close-icon {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 15px;
  fill: rgb(80, 80, 80);
}

.user-sign--card--title {
  width: 70%;
  height: 50px;
  margin: 0 auto 40px;
  border-bottom: solid 1px rgb(80, 80, 80);
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.user-sign--card--info {
  width: 75%;
  margin: 0 auto;
  font-size: 13px;
}

.user-sign--card--info--child {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin-bottom: 25px;
}

.user-sign--card--info--child--bottom {
  margin-bottom: 45px;
}

.user-sign--card--info--child--tag {
  width: 35%;
  line-height: 30px;
}

.user-sign--card--info--child--value {
  width: 65%;
  margin: auto;
  padding: 7px 12px;
  border: solid 1px rgb(80, 80, 80);
  border-radius: 5px;
  outline: none;
}

.image-select {
  padding: 0;
  height: 30px;
  border: none;
  outline: none;
}

.user-sign--card--info--child--checkbox, .user-sign--card--info--child--btn {
  width: 50%;
}

.user-sign--card--info--child--checkbox {
  margin: 0 auto;
  padding-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-sign--card--info--child--btn {
  padding-right: 30px;
}

.admin-check-label, .admin-check-box, .modal-create-btn {
  display: block;
}

.admin-check-label {
  margin-right: 10px;
}

.admin-check-box {
  width: 15px;
  height: 15px;
  margin-bottom: 5px;
}

.modal-create-btn {
  width: 70px;
  height: 30px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 0 0 rgba(40, 40, 40, 0.5);
  border: solid 1px rgb(80, 80, 80);
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.modal-create-btn:active{
  box-shadow: none;
  position: relative;
  top: 2px;
}

.page-nav {
  display: flex;
  align-items: center;
  width: 100%;
  line-height: 30px;
  margin-top: 20px;
  font-size: 13px;
  font-weight: bold;
}

.nav--center {
  width: 10%;
  text-align: center;
}

.nav--left, .nav--right {
  width: 45%;
}

.nav--left {
  padding-left: 30px;
}

.nav--right {
  text-align: right;
  padding-right: 30px;
}

.nav--left > p, .nav--right > p {
  display: inline;
  cursor: pointer;
}
