
<%# 投稿コメント表示 %>
  <div class="comment-area">
    <%# 上段が名前と投稿日 %>
    <div class="comment-top">
      <div class="comment --user"><%= comment.employee.name %></div>
      <div class="comment --create"><%= comment.created_at.strftime("%Y-%m-%d %H:%M") %></div>
    </div>
    <%# 下段がコメント内容 %>
    <div class="comment-bottom">
      <div class="comment--text"><%= simple_format(comment.text) %></div>
    </div>
  </div>